<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            display: flex;
        }
        li{
            text-decoration: none;
            list-style: none;
            color: brown;
            padding: 10px;
        }
    </style>
</head>
<body>
    <ul>
        <p>Burhan Tours</p>
        <li><a href="search">search</a></li>
        <li><a href="quries">quries</a></li>
    </ul>
</body>
</html>