<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_f.css">
    <title>Document</title>
</head>
<body>
    <div class="body">
    <h1 class="wel">Welocome to Burhan Tours</h1>
    <div class="form">
        <form action="/signin" method="POST">
        <input type="email" name="email"  placeholder="enter your email" required>
        <input type="password" name="password"  placeholder="enter your password" required>
        <button class="create s" type="submit" value="Member">Sign in</button>
        </form>
    </div>
    <button class="create c"> <a href="registeration">Create Account</a> </button>
   
    </div>
</body>
</html>