<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>select your favourite place</h1>
    <form action="/search" method="POST">
    <select name="name">
        <option name="kasmir" value="kashmir">kashmir</option>
         <option name="swat" value="swat">swat</option>
    </select> 
    <button type="submit">serach</button>
    </form>
</body>
</html>